<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>{{roomID}}</title>
  <style>
    #msglog, #messageInput {
      border: 1px solid #ccc;
      width: 500px;
      height: 350px;
      overflow-y: auto;
      font-size: 14px;
    }
    #messageInput {
      height: 80px;
    }
    .message {
      line-height: 22px;
    }
    .message .user {
      padding-right: 5px;
      padding-left: 5px;
      color: brown;
    }
    .sysMsg {
      color: #c1bfbf;
      padding-right: 5px;
      padding-left: 5px;
      font-size: 12px;
    }
    #users {
      width: 490px;
      padding: 0 5px 5px;
    }
  </style>
</head>
<body>
  暱稱: <span id="userName"></span> <br/>
  房間: {{roomID}} <br/>
  當前在線人數: <span id="count">{{users.length}}</span> <br/>
  在線用戶:  <div id="users">{{users}}</div>

  <div id="msglog">

  </div>
  <textarea name="message" id="messageInput"></textarea>
  <br/>
  點擊 Enter 發送訊息
  <button id="joinOrLeave">退出房間</button>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/jquery.js"></script>
  <script>
    $(function () {
      // ----------設置暱稱-------------
      var userName = '';
      while ($('#userName').text().trim() === '') {
        userName = prompt("請設置你的暱稱","");
        $('#userName').text(userName);
      }


      // ---------創建連接-----------
      var socket = io();

      // 加入房間
      socket.on('connect', function () {
        socket.emit('join', userName);
      });

      // 監聽消息
      socket.on('msg', function (userName, msg) {
        var message = '' +
            '<div class="message">' +
            '  <span class="user">' + userName + ': </span>' +
            '  <span class="msg">' + msg + '</span>' +
            '</div>';
        $('#msglog').append(message);
        // 滾動條保持最下方
        $('#msglog').scrollTop($('#msglog')[0].scrollHeight);  
      });

      // 監聽消息系統
      socket.on('sys', function (sysMsg, users) {
        var message = '<div class="sysMsg">' + sysMsg + '</div>';
        $('#msglog').append(message);

        $('#count').text(users.length);
        $('#users').text(users);
      });

      // 發送消息
      $('#messageInput').keydown(function (e) {
        if (e.which === 13) {
          e.preventDefault();
          var msg = $(this).val();
          $(this).val('');

          socket.send(msg);
        }
      });

      // 退出房間
      $('#joinOrLeave').click(function () {
        if ($(this).text() === '退出房間') {
          $(this).text('加入房間');
          socket.emit('leave');
          var msg = '你已經退出了房間,重新聊天請按「加入房間」"';
          $('#msglog').append('<div class="sysMsg">'+msg+'</div>');
        } else {
          $(this).text('退出房間');
          socket.emit('join', userName);
        }

      });
    });
  </script>
</body>
</html>